.section1,.section2{
    border: 2px solid black;
    overflow-y: scroll;
    height: 500px;
}
.rowheight{
    height: 500px;
}
.section-Header{
    margin-top: 20px;
}
textarea {
    min-height: 60px;
    overflow-y: auto;
    word-wrap:break-word;
    height: 100px;
}